<% content_for :title, "Gioco imbafantastico |" %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>




  <center>			<%= image_tag('header.png') %></center>
    <h1>Istruzioni</h1>
    <p>Tenete presente che il codice CSS di questi layout contiene molti commenti. Se solitamente lavorate nella vista Progettazione, visualizzate almeno momentaneamente la vista Codice per consultare i suggerimenti sull'uso del codice CSS nei layout liquidi. Potete rimuovere questi commenti prima di lanciare il sito. Per saperne di pi&egrave; sulle tecniche utilizzate in questi layout CSS, leggete questo articolo sul Centro per gli sviluppatori Adobe - <a href="http://www.adobe.com/go/adc_css_layouts">http://www.adobe.com/go/adc_css_layouts</a>.</p>
    <h2>Clearing</h2>
    <p>Poich&egrave; tutte le colonne sono con float, questo layout utilizza overflow:hidden sul .container. Questa tecnica di clearing obbliga il .container a capire dove terminano le colonne per fare apparire i bordi o i colori di bordo che applicate al .container. Se avete un elemento di grandi dimensioni che fuoriesce dal .container, esso apparir&egrave; troncato. Inoltre non potrete utilizzare margini negativi o posizionamenti assoluti con valori negativi per portare gli elementi all'esterno del .container, altrimenti non saranno aggiornati al di fuori del .container.</p>
    <p>Se avete bisogno di utilizzare queste propriet&egrave;, dovete utilizzare un metodo di clearing differente. Quello pi&egrave; affidabile prevede l'aggiunta di un &lt;br class=&quot;clearfloat&quot; /&gt; o &lt;div  class=&quot;clearfloat&quot;&gt;&lt;/div&gt; dopo l'ultima colonna con float (ma prima della chiusura del .container). L'effetto di clearing sar&egrave; lo stesso.</p>
    <h3>Pi&egrave; di pagina</h3>
    <p>L'aggiunta di un pi&egrave; di pagina dopo le colonne ma all'interno del .container far&agrave; fallire il metodo di clearing overflow:hidden. Potete inserire un .footer in un secondo .container esternamente al primo senza produrre effetti indesiderati. La scelta pi&ugrave; semplice &egrave; probabilmente quella di iniziare con un layout contenente intestazioni e pi&egrave; di pagina e poi rimuovere l'intestazione per utilizzare i metodi di clearing in quel tipo di layout.</p>
    <h4>Commenti condizionali di Internet Explorer</h4>
    <p>Questi layout liquidi contengono un commento condizionale di Internet Explorer (IECC) che consente di correggere due problemi. </p>
    <ol>
      <li>I browser eseguono tutti allo stesso modo l'arrotondamento delle dimensioni dei div nei layout basati su percentuale. Quando il browser esegue il rendering di un valore come 144,5 px o 564,5 px, deve arrotondarlo al numero intero pi&ugrave; vicino. Safari e Opera arrotondano per difetto, Internet Explorer per eccesso e Firefox arrotonda una colonna per eccesso e una per difetto riempiendo completamente il container. Queste diverse modalit&egrave; di arrotondamento possono determinare delle differenze in alcuni layout. Questo IECC specifica un margine negativo di 1 px per correggere il problema in IE. Potete spostarlo in qualunque colonna (a sinistra o a destra) a seconda delle vostre necessit&egrave; di layout.</li>
      <li>La propriet&egrave; zoom &egrave; stata aggiunta all'ancoraggio all'interno dell'elenco di navigazione poich&egrave;, in alcuni casi, viene eseguito il rendering dello spazio vuoto supplementare in IE6 e IE7. Zoom fornisce a IE la sua propriet&agrave; hasLayout per correggere questo problema.</li>
    </ol>
   
